<!DOCTYPE html>
<head>
    <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='basket.css') }}">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>

{% extends "base.html" %}

{% block title %}Shopping Basket{% endblock %}

{% block body%}
<br><br>

<h2 style="font-size:35px; color:rgb(10, 31, 10);"><b>Here is what is in your cart:</b></h2>

{% endblock %}